
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mvc Kamp Tablo Örneği - Kategoriler</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3>Mvc Kamp Tablo Örneği - Kategoriler</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Açıklama</th>
        <th>Durum</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası eğitim kategorisidir.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tiyatro</td>
        <td>Burası tiyatro kategorisidir.</td>
        <td>True</td>
    </tr>
</table>
</body>
</html>
